.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  width: 44px;
  height: 44px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #007791;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.241);
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-prev:focus {
  outline: none;
}
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #fff;
  color: #007791;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  width: 44px;
  height: 44px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #fff;
  color: #007791;
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.241);
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}
.owl-carousel .owl-nav button.owl-next:focus {
  outline: none;
}
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #fff;
  color: #007791;
}

.myNavBar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
.myNavBar .myNavBar__col {
  padding-left: 0;
}
.myNavBar .myNavBar__left {
  display: flex;
  align-items: center;
}
.myNavBar .myNavBar__left .navbar-brand {
  flex-grow: 1;
  text-align: center;
  margin-right: 0;
}
.myNavBar .myNavBar__left .navbar-brand img {
  width: 110px;
}
.myNavBar .myNavBar__left .navbar-brand .logo-white {
  display: none;
}
.myNavBar .myNavBar__left .navbar-brand .logo-black {
  display: inline-block;
}
.myNavBar .myNavBar__left .myNavBar__categories {
  flex-grow: 1;
  text-align: center;
  color: #505763;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
}
.myNavBar .myNavBar__left .myNavBar__categories i {
  color: #a1a7b3;
}
.myNavBar .myNavBar__left .myNavBar__form-search {
  flex-grow: 8;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #f2f3f5;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #505763;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #505763;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #dedfe0;
  border-bottom-color: #dedfe0;
  border-right-color: #dedfe0;
  color: #ec5252;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}
.myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
.myNavBar .myNavBar__right .navbar-nav {
  justify-content: space-between;
  align-items: center;
}
.myNavBar .myNavBar__right .navbar-nav .nav-item {
  padding: 7px 5px;
  border-radius: 3px;
  position: relative;
}
.myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}
.myNavBar .myNavBar__right .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}
.myNavBar .myNavBar__right .navbar-nav .nav-item:hover .overlay {
  display: block;
}
.myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
  z-index: 1;
  display: none;
  background-color: #fff;
  width: 330px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 0;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}
.myNavBar .myNavBar__right .navbar-nav .nav-item .overlay::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  display: block;
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  position: absolute;
  top: -9px;
  right: 10%;
  transform: rotate(45deg);
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 20px;
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__cart .nav-link {
  font-size: 20px;
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
  display: flex;
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons:hover {
  background-color: transparent;
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button--white {
  margin-right: 5px;
}
.myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons .button {
  white-space: nowrap;
}
@media screen and (min-width: 1200px) and (max-width: 1372px) {
  .myNavBar .myNavBar__right .navbar-nav .nav-item {
    white-space: nowrap;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .myNavBar .myNavBar__right .navbar-nav .nav-item .overlay {
    white-space: normal;
  }
  .myNavBar .myNavBar--reset {
    padding-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .myNavBar .business, .myNavBar .instructor {
    display: none;
  }
  .myNavBar .myNavBar__right .navbar-nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .myNavBar .myNavBar__left .myNavBar__categories, .myNavBar .myNavBar__left .myNavBar__form-search {
    display: none;
  }
  .myNavBar .myNavBar__right {
    width: 50%;
    margin-left: auto;
  }
  .myNavBar .myNavBar__right .navbar-nav .myNavBar__buttons {
    display: none;
  }
  .myNavBar .myNavBar__right .navbar-nav .myNavBar__cart {
    text-align: center;
  }
}
footer {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
footer .footer__content .footer__top {
  width: 90%;
  margin: 40px auto;
}
footer .footer__content .footer__top ul {
  height: 120px;
}
footer .footer__content .footer__top ul .nav-item {
  flex-basis: 25%;
}
footer .footer__content .footer__top ul .nav-item .nav-link {
  color: #007791;
  padding: 0;
}
footer .footer__content .footer__top ul .nav-item .nav-link:hover {
  text-decoration: none;
}
footer .footer__content .footer__top ul .nav-item .bold {
  font-weight: 700;
}
footer .footer__content .footer__top .btn-group {
  display: block;
  text-align: right;
}
footer .footer__content .footer__top .btn-group .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 160px;
  box-shadow: none;
}
footer .footer__bottom {
  width: 90%;
  margin: 20px auto;
}
footer .footer__bottom img {
  width: 120px;
  margin-right: 10px;
}
footer .footer__bottom .logo-black {
  display: inline-block;
}
footer .footer__bottom .logo-white {
  display: none;
}
footer .footer__bottom .nav-item:first-of-type {
  margin-right: 20px;
}
footer .footer__bottom .nav-item a {
  color: #007791;
}
footer .footer__bottom .nav-item a:hover {
  text-decoration: none;
}

.intro {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
  padding: 20px;
}
.intro .intro__content {
  width: 80%;
  margin: 0 auto;
}
.intro .intro__content .intro__item {
  display: flex;
  align-items: center;
}
.intro .intro__content .intro__icon {
  font-size: 50px;
  color: #fff;
}
.intro .intro__content .intro__icon i {
  margin-right: 15px;
}
.intro .intro__content .intro__details p {
  margin-bottom: 0;
}
.intro .intro__content .intro__details p:first-of-type {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
.intro .intro__content .intro__details p:last-of-type {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media screen and (max-width: 1200px) {
  .intro .intro__content .intro__icon {
    display: none;
  }
}

.course {
  margin: 25px;
}
.course .course__content {
  width: 90%;
  margin: 0 auto;
}
.course .course__content .row {
  margin-left: 0;
  margin-right: 0;
}
.course .course__content .course__left {
  background-color: rgba(20, 23, 28, 0.05);
  padding: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}
.course .course__content .course__left h2 {
  color: #29303b;
  font-size: 19px;
  font-weight: normal;
}
.course .course__content .course__right {
  position: relative;
}
.course .course__content .course__right .nav-tabs {
  margin-bottom: 30px;
}
.course .course__content .course__right .nav-tabs li a {
  text-decoration: none;
  border: none;
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}
.course .course__content .course__right .nav-tabs li a:focus {
  border-bottom: 5px solid #007791;
}
.course .course__content .course__right .nav-tabs li a:hover {
  color: #007791;
}
.course .course__content .course__right .nav-tabs li .active {
  border-bottom: 5px solid #007791;
}
@media screen and (max-width: 1350px) {
  .course .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .course .course__content .course__left {
    padding: 10px 0;
  }
}

.viewing__content {
  width: 90%;
  margin: 0 auto;
}
.viewing__content .owl-carousel .card {
  width: 100%;
}
@media screen and (max-width: 1350px) {
  .viewing__content .card .card-body .card-title {
    color: #29303b;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

#Banner {
  background: url(../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat, linear-gradient(61deg, #6e1a52, #76c5d6 41%);
  background-blend-mode: overlay;
  height: 325px;
  display: flex;
  align-items: center;
}
#Banner .banner__content {
  text-align: center;
}
#Banner .banner__content .logo__google {
  text-align: right;
}
#Banner .banner__content .logo__apple {
  text-align: left;
}
#Banner .banner__content h2 {
  color: #fff;
  font-size: 36px -2;
  font-weight: normal;
}
#Banner .banner__content p {
  color: #fff;
  margin-bottom: 0;
}

.categories {
  margin-top: 25px;
}
.categories .categories__content .categories__item {
  font-size: 18px;
  padding: 15px;
  border: 1px solid rgba(20, 23, 28, 0.1);
  margin-bottom: 15px;
}
.categories .categories__content .categories__item:hover {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.students .students__content {
  width: 90%;
  margin: 0 auto;
}

.partners {
  margin-top: 25px;
  padding: 10px 0 20px 0;
  background-color: #f7f8fa;
}
.partners .partners__content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.partners .partners__content p:first-of-type {
  margin-bottom: 0;
}
.partners .partners__content .logo__item {
  padding: 20px 0;
}
.partners .partners__bot {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.partners .partners__bot .row__bot .col__left {
  border-right: 1px solid #dee2e6;
}
.partners .partners__bot .row__bot .col-6 .col__item {
  max-width: 400px;
  margin: 0 auto;
}
.partners .partners__bot .row__bot .col-6 .col__item p:first-of-type {
  color: #505763;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .partners .partners__content {
    width: 80%;
  }
}
@media screen and (max-width: 992px) {
  .partners .partners__content {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .partners .logo__item .partners__item .img__item {
    text-align: left;
  }
  .partners .logo__item .partners__item .item__1 {
    text-align: right;
  }
  .partners .partners__bot .row__bot .col__left {
    border-right: none;
  }
  .partners .partners__bot .row__bot .col__left .col__item {
    margin-bottom: 30px;
  }
}

.sidebarmini {
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 500;
  transform: translateX(100%);
  transition: all 0.5s;
}
.sidebarmini .sidebar__button {
  position: fixed;
  transform: translateX(-100%);
  color: #29303b;
  background-color: #dedfe0;
  border: 1px solid #dedfe0;
  font-size: 24px;
  font-weight: normal;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  border: none;
  transition: all 0.5s;
}
.sidebarmini .sidebar__button:focus {
  outline: none;
}
.sidebarmini .sidebar__content {
  background-color: #dedfe0;
  border-left: none;
  text-align: center;
  padding: 5px 20px;
  transition: all 0.5s;
}
.sidebarmini .sidebar__content h2 {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}
.sidebarmini .sidebar__content .switch {
  position: relative;
  height: 24px;
  width: 47px;
  margin: 0 10px;
  cursor: pointer;
}
.sidebarmini .sidebar__content .switch input {
  display: none;
}
.sidebarmini .sidebar__content .switch input:checked + .slider::before {
  transform: translateX(22px);
}
.sidebarmini .sidebar__content .switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  border-radius: 34px;
}
.sidebarmini .sidebar__content .switch .slider::before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 5%;
  transition: all 0.5s;
}
.sidebarmini.is-opened {
  transform: translateX(0%);
}

.button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}
.button--white:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.button--red {
  color: #fff;
  background-color: #ec5252;
  border: 1px solid #ec5252;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}
.button--red:hover {
  color: #fff;
  background-color: #e63757;
  border: 1px solid #e63757;
}

.button--dropup {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 10px;
  cursor: pointer;
}
.button--dropup:hover {
  color: #29303b;
  background-color: transparent;
  border: 1px solid #29303b;
}

.cover {
  background-image: url("../img/cover.jpg");
  height: 500px;
  position: relative;
}
.cover .cover__content {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
}
.cover .cover__content h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.cover .cover__content p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
.cover .cover__content .cover__form .input-group {
  background-color: #fff;
}
.cover .cover__content .cover__form .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #505763;
}
.cover .cover__content .cover__form .input-group .form-control::placeholder {
  color: #505763;
}
.cover .cover__content .cover__form .input-group .form-control:focus {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-right-color: #fff;
  color: #ec5252;
}
.cover .cover__content .cover__form .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
.cover .cover__content .cover__form .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}
.cover .cover__content .cover__form .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
@media screen and (max-width: 576px) {
  .cover .cover__content {
    max-width: 400px;
    left: 10%;
  }
}

.card {
  height: 275px;
}
.card .card-body {
  padding: 1rem 1rem 0 1rem;
}
.card .card-body .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
}
.card .card-body .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  margin: 5px 0;
}
.card .card-body .card__stars span:first-of-type {
  color: #F4C150;
  font-size: 12px;
  font-weight: 900;
}
.card .card-body .card__stars span:nth-child(2) {
  color: #686f7a;
  font-size: 13px;
  font-weight: 600;
}
.card .card-body .card__stars span:last-of-type {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}
.card .card-body .card__stars .card__prices {
  text-align: right;
  padding: 7px 0;
}
.card .card-body .card__stars .card__prices span:first-of-type {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}
.card .card-body .card__stars .card__prices span:last-of-type {
  color: #29303b;
  font-size: 15px;
  font-weight: 900;
}

.card--feedback {
  height: 260px;
  padding: 30px;
}
.card--feedback .card__top {
  display: flex;
}
.card--feedback .card__top .card__img img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 15px;
}
.card--feedback .card__top .card__name {
  margin-bottom: 0;
}
.card--feedback .card__top .card__stars span {
  color: #F4C150;
  font-size: 12px;
  font-weight: 900;
}
.card--feedback .card-text {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  margin-top: 20px;
}

.darkMode .sidebarmini {
  background-color: #152e4d;
  color: #fff;
}
.darkMode .sidebarmini .sidebar__button {
  background-color: #152e4d;
  color: #fff;
}
.darkMode .sidebarmini .sidebar__content {
  background-color: #152e4d;
  color: #fff;
}
.darkMode .sidebarmini .sidebar__content h2 {
  color: #fff;
}
.darkMode .sidebarmini .sidebar__content .switch .slider {
  background-color: #061325;
  box-shadow: 0 0 2px 3px #344050;
}

body.darkMode {
  color: #9da9bb;
  background-color: #061325;
}

.darkMode .myNavBar {
  background-color: #0e1c2f;
}
.darkMode .myNavBar .myNavBar__left .navbar-brand .logo-black {
  display: none;
}
.darkMode .myNavBar .myNavBar__left .navbar-brand .logo-white {
  display: inline-block;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__categories {
  color: #9da9bb;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__categories i {
  color: #d8e2ef;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group {
  background-color: #152e4d;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  transition: none;
  color: #d8e2ef;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control::placeholder {
  color: #d8e2ef;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus {
  background-color: #132238;
  border-top-color: #344050;
  border-bottom-color: #dedfe0;
  border-left-color: #dedfe0;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text {
  background-color: #fff;
  border-top-color: #344050;
  border-bottom-color: #344050;
  border-right-color: #344050;
  color: #ec5252;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .form-control:focus + .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}
.darkMode .myNavBar .myNavBar__left .myNavBar__form-search .input-group .input-group-append .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}
.darkMode .myNavBar .myNavBar__right .nav-item {
  border: 1px solid transparent;
}
.darkMode .myNavBar .myNavBar__right .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode .myNavBar .myNavBar__right .nav-item:hover {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode .myNavBar .myNavBar__right .nav-item .overlay {
  background-color: #0e1c2f;
  border: 1px solid #344050;
}
.darkMode .myNavBar .myNavBar__right .nav-item .overlay::before {
  background-color: #0e1c2f;
  border-top: 1px solid #344050;
  border-left: 1px solid #344050;
}
.darkMode .myNavBar .myNavBar__right .myNavBar__buttons:hover {
  background-color: transparent;
  border-color: transparent;
}
.darkMode .myNavBar .navbar-toggler {
  background-color: #d8e2ef;
}

.darkMode .button--white {
  color: #686f7a;
  background-color: #fff;
  border: 1px solid #505763;
  font-size: 15px;
  font-weight: 600;
  padding: 11px 12px;
  cursor: pointer;
}
.darkMode .button--white:hover {
  color: #d8e2ef;
  background-color: #152e4d;
  border: 1px solid #344050;
}

.darkMode .course .course__content .course__left {
  background-color: #132238;
}
.darkMode .course .course__content .course__left h2 {
  color: #d8e2ef;
}
.darkMode .course .course__content #myTab .nav-link {
  color: #9da9bb;
}
.darkMode .course .course__content #myTab .nav-link.active {
  background-color: transparent;
}
.darkMode .course .course__content #myTab .nav-link:hover {
  color: #d8e2ef;
  background-color: transparent;
}
.darkMode .course .course__content #myTab .nav-tabs {
  border-bottom: 1px solid #344050;
}

.darkMode .card {
  background-color: #152e4d;
  border: 1px solid #344050;
}
.darkMode .card .card-title {
  color: #d8e2ef;
}
.darkMode .card .card-text {
  color: #9da9bb;
}
.darkMode .card .card__stars .card__rate {
  color: #d8e2ef;
}
.darkMode .card .card__stars .card__total {
  color: #9da9bb;
}
.darkMode .card .card__stars .card__prices span:first-of-type {
  color: #9da9bb;
}
.darkMode .card .card__stars .card__prices span:last-of-type {
  color: #d8e2ef;
}
.darkMode .card--feedback {
  background-color: #061325;
}
.darkMode .card--feedback .card__name {
  color: #d8e2ef;
}

.darkMode .categories .categories__content h2 {
  color: #d8e2ef;
}
.darkMode .categories .categories__content .categories__item {
  background-color: #132238;
  border-color: #344050;
  box-shadow: 0 3px 1px 0 #152e4d;
}
.darkMode .categories .categories__content .categories__item:hover {
  box-shadow: 0 0 3px 2px #152e4d;
}

.darkMode .students {
  background-color: #132238;
  padding: 15px 0;
}
.darkMode .students .students__content h2 {
  color: #d8e2ef;
}

.darkMode .partners {
  background-color: #132238;
  margin-top: 0;
}
.darkMode .partners .partners__bot .col__left {
  border-right: 1px solid #344050;
}
.darkMode .partners .partners__bot .col__item p:first-of-type {
  color: #fff;
}

.darkMode footer .footer__content .footer__top ul .nav-item .nav-link {
  color: #d8e2ef;
}
.darkMode footer .footer__content .footer__top .button--dropup {
  background-color: #344050;
}
.darkMode footer .footer__content .footer__top .button--dropup div {
  color: #d8e2ef;
}
.darkMode footer .footer__content .footer__top .btn-group .dropdown-menu {
  background-color: #132238;
}
.darkMode footer .footer__content .footer__top .btn-group .dropdown-menu .dropdown-item {
  color: #d8e2ef;
}
.darkMode footer .footer__content .footer__top .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: #152e4d;
}
.darkMode footer .footer__content hr {
  background-color: #344050;
}
.darkMode footer .footer__bottom {
  color: #9da9bb;
}
.darkMode footer .footer__bottom .logo-black {
  display: inline-block;
}
.darkMode footer .footer__bottom .logo-white {
  display: none;
}
.darkMode footer .footer__bottom .nav-item a {
  color: #d8e2ef;
}/*# sourceMappingURL=main.css.map */