footer{
    @include styleText($color-gray-0,$fs-1,$fw-0);
    
        .footer__content{
            .footer__top
            {
                width: 90%;
                margin: 40px auto;
            ul{
                height: 120px; // NEW
                .nav-item{
                    flex-basis: 25%;// NEW
                    .nav-link{
                        color: $color-blue-0;
                        padding: 0;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .bold{
                        font-weight: $fw-2;
                    }
                }
            }
            
            .btn-group{
                display: block;
                text-align: right;
                .btn{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-width: 160px;
                    box-shadow: none;
                }
            }
            
    }
}
        .footer__bottom{
            width: 90%;
            margin: 20px auto;
            img{
                width: 120px;
                margin-right: 10px;
            }
            .logo-black{
                display: inline-block;
            }
            .logo-white{
                display: none;
            }
            .nav-item:first-of-type{
                margin-right: 20px;
            }
            .nav-item{
               a{
                color: $color-blue-0;
                &:hover
                {
                    
                        text-decoration: none;
                        // @include styleText()
                }
               }
               
            }
        }
        
    }